Repository hyperledger/besu, pull requests merged in 2024-06, with the labels that each got.

#7177 feat!: Java 21 for build and runtime
  .circleci/config.yml
  .github/workflows/acceptance-tests.yml
  .github/workflows/codeql.yml
  .github/workflows/develop.yml
  .github/workflows/integration-tests.yml
  .github/workflows/pre-review.yml
  .github/workflows/reference-tests.yml
  .github/workflows/release.yml
  .github/workflows/sonarcloud.yml
  CHANGELOG.md
  besu/src/main/java/org/hyperledger/besu/services/BlockchainServiceImpl.java
  build.gradle
  ethereum/eth/src/test/java/org/hyperledger/besu/ethereum/eth/sync/backwardsync/BackwardSyncAlgSpec.java
  ethereum/rlp/src/main/java/org/hyperledger/besu/ethereum/rlp/RLPInput.java
  evm/src/main/java/org/hyperledger/besu/evm/frame/MessageFrame.java
  gradle/verification-metadata.xml
  services/tasks/src/main/java/org/hyperledger/besu/services/tasks/InMemoryTaskQueue.java
  util/src/main/java/org/hyperledger/besu/util/EndianUtils.java
  util/src/main/java/org/hyperledger/besu/util/FutureUtils.java
  util/src/main/java/org/hyperledger/besu/util/log/LogUtil.java
  util/src/main/java/org/hyperledger/besu/util/platform/PlatformDetector.java
Labels: doc-change-required

#7186 In enterprise profile, use sync-mode=FULL and data-storage-format=FOREST
  CHANGELOG.md
  besu/src/main/java/org/hyperledger/besu/cli/config/ProfileName.java
  config/src/main/resources/profiles/enterprise-private.toml
Labels: doc-change-required

#7192 Promote option - bonsai-limit-trie-logs-enabled and bonsai-trie-logs-pruning-window-size
  CHANGELOG.md
  besu/src/main/java/org/hyperledger/besu/cli/options/stable/DataStorageOptions.java
  besu/src/test/java/org/hyperledger/besu/cli/BesuCommandTest.java
  besu/src/test/java/org/hyperledger/besu/cli/options/stable/DataStorageOptionsTest.java
  besu/src/test/java/org/hyperledger/besu/cli/subcommands/storage/TrieLogHelperTest.java
  besu/src/test/resources/everything_config.toml
  config/src/main/resources/profiles/enterprise-private.toml
  config/src/main/resources/profiles/minimalist-staker.toml
Labels: doc-change-required

#7194 Support for eth_maxPriorityFeePerGasPrice
  CHANGELOG.md
  ethereum/api/src/main/java/org/hyperledger/besu/ethereum/api/jsonrpc/RpcMethod.java
  ethereum/api/src/main/java/org/hyperledger/besu/ethereum/api/jsonrpc/internal/methods/EthMaxPriorityFeePerGas.java
  ethereum/api/src/main/java/org/hyperledger/besu/ethereum/api/jsonrpc/methods/EthJsonRpcMethods.java
  ethereum/api/src/test/java/org/hyperledger/besu/ethereum/api/jsonrpc/internal/methods/EthMaxPriorityFeePerGasTest.java
Labels: doc-change-required

#7168 Subnet-Based Peer Permissions
  CHANGELOG.md
  besu/build.gradle
  besu/src/main/java/org/hyperledger/besu/RunnerBuilder.java
  besu/src/main/java/org/hyperledger/besu/cli/BesuCommand.java
  besu/src/main/java/org/hyperledger/besu/cli/converter/SubnetInfoConverter.java
  besu/src/test/java/org/hyperledger/besu/cli/BesuCommandTest.java
  besu/src/test/java/org/hyperledger/besu/cli/CommandTestAbstract.java
  besu/src/test/java/org/hyperledger/besu/cli/converter/SubnetInfoConverterTest.java
  besu/src/test/resources/everything_config.toml
  ethereum/p2p/build.gradle
  ethereum/p2p/src/main/java/org/hyperledger/besu/ethereum/p2p/permissions/PeerPermissionSubnet.java
  ethereum/p2p/src/test/java/org/hyperledger/besu/ethereum/p2p/permissions/PeerPermissionsSubnetTest.java
  gradle/verification-metadata.xml
  gradle/versions.gradle
Labels: doc-change-required

#7256 Disable Flaky tests - permissioning
  acceptance-tests/tests/src/test/java/org/hyperledger/besu/tests/acceptance/permissioning/NodeSmartContractPermissioningAcceptanceTest.java
  acceptance-tests/tests/src/test/java/org/hyperledger/besu/tests/acceptance/permissioning/NodeSmartContractPermissioningV2AcceptanceTest.java
  acceptance-tests/tests/src/test/java/org/hyperledger/besu/tests/acceptance/permissioning/NodeSmartContractPermissioningV2DNSAcceptanceTest.java
  ethereum/api/src/test/java/org/hyperledger/besu/ethereum/api/jsonrpc/internal/methods/EthEstimateGasTest.java
Labels: testing, flake, permissioning

#7257 Add bootnodes to the maintained peer list
  CHANGELOG.md
  acceptance-tests/tests/src/test/java/org/hyperledger/besu/tests/acceptance/permissioning/NodeSmartContractPermissioningAcceptanceTest.java
  acceptance-tests/tests/src/test/java/org/hyperledger/besu/tests/acceptance/permissioning/NodeSmartContractPermissioningV2AcceptanceTest.java
  besu/src/main/java/org/hyperledger/besu/RunnerBuilder.java
Labels: peering
