Repository hyperledger/besu, pull requests merged in 2025-01, with the labels that each got.

#8090 Fix guess type for delegate code transactions
  ethereum/core/src/main/java/org/hyperledger/besu/ethereum/core/Transaction.java
  ethereum/core/src/test/java/org/hyperledger/besu/ethereum/core/TransactionBuilderTest.java
Labels: bug, mainnet

#8111 Rename accountOverride to stateOverride to match spec
  besu/src/main/java/org/hyperledger/besu/services/BlockSimulatorServiceImpl.java
  besu/src/main/java/org/hyperledger/besu/services/TransactionSimulationServiceImpl.java
  datatypes/src/main/java/org/hyperledger/besu/datatypes/StateOverride.java
  datatypes/src/main/java/org/hyperledger/besu/datatypes/StateOverrideMap.java
  ethereum/api/src/main/java/org/hyperledger/besu/ethereum/api/jsonrpc/internal/methods/AbstractEstimateGas.java
  ethereum/api/src/main/java/org/hyperledger/besu/ethereum/api/jsonrpc/internal/methods/EthCall.java
  ethereum/api/src/test/java/org/hyperledger/besu/ethereum/api/jsonrpc/internal/methods/EthCallTest.java
  ethereum/api/src/test/java/org/hyperledger/besu/ethereum/api/jsonrpc/internal/methods/EthEstimateGasTest.java
  ethereum/core/src/main/java/org/hyperledger/besu/ethereum/transaction/BlockSimulator.java
  ethereum/core/src/main/java/org/hyperledger/besu/ethereum/transaction/BlockStateCall.java
  ethereum/core/src/main/java/org/hyperledger/besu/ethereum/transaction/TransactionSimulator.java
  ethereum/core/src/test/java/org/hyperledger/besu/ethereum/transaction/BlockSimulatorTest.java
  ethereum/core/src/test/java/org/hyperledger/besu/ethereum/transaction/TransactionSimulatorTest.java
  ethereum/core/src/test/java/org/hyperledger/besu/ethereum/util/StateOverrideParameterTest.java
  plugin-api/build.gradle
  plugin-api/src/main/java/org/hyperledger/besu/plugin/services/BlockSimulationService.java
  plugin-api/src/main/java/org/hyperledger/besu/plugin/services/TransactionSimulationService.java
Labels: RPC

#8115 Add support for movePrecompileToAddress in State Overrides (eth_call)
  CHANGELOG.md
  datatypes/src/main/java/org/hyperledger/besu/datatypes/StateOverride.java
  ethereum/api/src/test/java/org/hyperledger/besu/ethereum/api/jsonrpc/internal/methods/EthCallTest.java
  ethereum/api/src/test/resources/org/hyperledger/besu/ethereum/api/jsonrpc/eth/eth_call_stateOverride_movePrecompileToAddress.json
  ethereum/api/src/test/resources/org/hyperledger/besu/ethereum/api/jsonrpc/eth/eth_call_stateOverride_movePrecompileToAddress_null.json
  ethereum/api/src/test/resources/org/hyperledger/besu/ethereum/api/jsonrpc/eth/eth_call_stateOverride_overridePrecompileCode.json
  ethereum/core/src/main/java/org/hyperledger/besu/ethereum/mainnet/ClassicProtocolSpecs.java
  ethereum/core/src/main/java/org/hyperledger/besu/ethereum/mainnet/MainnetProtocolSpecs.java
  ethereum/core/src/main/java/org/hyperledger/besu/ethereum/mainnet/MainnetTransactionProcessor.java
  ethereum/core/src/main/java/org/hyperledger/besu/ethereum/mainnet/ProtocolSpecBuilder.java
  ethereum/core/src/main/java/org/hyperledger/besu/ethereum/transaction/SimulationTransactionProcessorFactory.java
  ethereum/core/src/main/java/org/hyperledger/besu/ethereum/transaction/TransactionSimulator.java
  ethereum/core/src/test/java/org/hyperledger/besu/ethereum/mainnet/MainnetTransactionProcessorTest.java
  ethereum/core/src/test/java/org/hyperledger/besu/ethereum/transaction/SimulationTransactionProcessorFactoryTest.java
  evm/src/main/java/org/hyperledger/besu/evm/precompile/PrecompileContractRegistry.java
  evm/src/main/java/org/hyperledger/besu/evm/processor/MessageCallProcessor.java
  evm/src/main/java/org/hyperledger/besu/evm/processor/OverriddenPrecompilesMessageCallProcessor.java
Labels: doc-change-required

#8118 Pectra devnet 5: 7702 changes
  ethereum/core/src/main/java/org/hyperledger/besu/ethereum/mainnet/MainnetTransactionProcessor.java
  ethereum/core/src/main/java/org/hyperledger/besu/ethereum/mainnet/MainnetTransactionValidator.java
  evm/src/main/java/org/hyperledger/besu/evm/account/AbstractDelegatedCodeAccount.java
  evm/src/main/java/org/hyperledger/besu/evm/account/Account.java
  evm/src/main/java/org/hyperledger/besu/evm/account/AccountState.java
  evm/src/main/java/org/hyperledger/besu/evm/account/DelegatedCodeAccount.java
  evm/src/main/java/org/hyperledger/besu/evm/account/MutableDelegatedCodeAccount.java
  evm/src/main/java/org/hyperledger/besu/evm/operation/AbstractCallOperation.java
  evm/src/main/java/org/hyperledger/besu/evm/operation/AbstractExtCallOperation.java
  evm/src/main/java/org/hyperledger/besu/evm/operation/ExtCodeCopyOperation.java
  evm/src/main/java/org/hyperledger/besu/evm/operation/ExtCodeHashOperation.java
  evm/src/main/java/org/hyperledger/besu/evm/operation/ExtCodeSizeOperation.java
  evm/src/main/java/org/hyperledger/besu/evm/worldstate/DelegateCodeHelper.java
  evm/src/main/java/org/hyperledger/besu/evm/worldstate/DelegatedCodeGasCostHelper.java
  evm/src/main/java/org/hyperledger/besu/evm/worldstate/DelegatedCodeService.java
Labels: Prague

#7983 Eip 7709 implement gas costs
  ethereum/core/src/main/java/org/hyperledger/besu/ethereum/mainnet/MainnetProtocolSpecs.java
  ethereum/core/src/main/java/org/hyperledger/besu/ethereum/vm/Eip7709BlockHashLookup.java
  ethereum/core/src/test/java/org/hyperledger/besu/ethereum/vm/Eip7709BlockHashLookupTest.java
  ethereum/referencetests/build.gradle
  evm/src/main/java/org/hyperledger/besu/evm/operation/BlockHashOperation.java
  evm/src/test/java/org/hyperledger/besu/evm/operation/BlockHashOperationTest.java
Labels: verkle

#8125 default target gas limit for holesky
  CHANGELOG.md
  besu/src/main/java/org/hyperledger/besu/cli/BesuCommand.java
  besu/src/test/java/org/hyperledger/besu/cli/BesuCommandTest.java
  ethereum/core/src/main/java/org/hyperledger/besu/ethereum/core/MiningConfiguration.java
Labels: Prague

#8089 Fix ci issues
  consensus/merge/src/main/java/org/hyperledger/besu/consensus/merge/blockcreation/MergeCoordinator.java
  ethereum/api/src/main/java/org/hyperledger/besu/ethereum/api/jsonrpc/methods/ExecutionEngineJsonRpcMethods.java
  evm/src/main/java/org/hyperledger/besu/evm/account/MutableAccount.java
  evm/src/main/java/org/hyperledger/besu/evm/gascalculator/BerlinGasCalculator.java
  evm/src/main/java/org/hyperledger/besu/evm/gascalculator/Eip4762GasCalculator.java
  evm/src/main/java/org/hyperledger/besu/evm/gascalculator/GasCalculator.java
  evm/src/main/java/org/hyperledger/besu/evm/gascalculator/stateless/AccessEvents.java
  evm/src/main/java/org/hyperledger/besu/evm/gascalculator/stateless/AccessMode.java
  evm/src/main/java/org/hyperledger/besu/evm/gascalculator/stateless/Eip4762AccessWitness.java
  evm/src/main/java/org/hyperledger/besu/evm/gascalculator/stateless/NoopAccessWitness.java
  evm/src/main/java/org/hyperledger/besu/evm/operation/ExtCodeSizeOperation.java
  evm/src/main/java/org/hyperledger/besu/evm/operation/SLoadOperation.java
  plugin-api/build.gradle
  plugin-api/src/main/java/org/hyperledger/besu/plugin/services/storage/DataStorageFormat.java
Labels: verkle

#8161 Fix consensus issue due to modified precompile list
  evm/src/main/java/org/hyperledger/besu/evm/gascalculator/Eip4762GasCalculator.java
Labels: verkle

#8196 TransactionResult: add v for blob and pending tx
  acceptance-tests/tests/src/test/resources/jsonrpc/engine/cancun/test-cases/block-production/02_cancun_get_blob_tx.json
  ethereum/api/src/main/java/org/hyperledger/besu/ethereum/api/jsonrpc/internal/results/TransactionCompleteResult.java
  ethereum/api/src/main/java/org/hyperledger/besu/ethereum/api/jsonrpc/internal/results/TransactionPendingResult.java
  ethereum/api/src/test/resources/org/hyperledger/besu/ethereum/api/jsonrpc/eth/eth_getBlockByNumber_complete_cancun.json
  ethereum/api/src/test/resources/org/hyperledger/besu/ethereum/api/jsonrpc/eth/eth_getTransactionByBlockNumberAndIndex_latest.json
  ethereum/api/src/test/resources/org/hyperledger/besu/ethereum/api/jsonrpc/eth/eth_getTransactionByBlockNumberAndIndex_pending.json
Labels: RPC, Prague

#8201 Devnet5 Fix requests tests
  datatypes/src/main/java/org/hyperledger/besu/datatypes/RequestType.java
  ethereum/api/src/main/java/org/hyperledger/besu/ethereum/api/jsonrpc/internal/methods/engine/AbstractEngineNewPayload.java
  ethereum/core/src/main/java/org/hyperledger/besu/ethereum/mainnet/AbstractBlockProcessor.java
  ethereum/core/src/main/java/org/hyperledger/besu/ethereum/mainnet/requests/MainnetRequestsValidator.java
  ethereum/core/src/test/java/org/hyperledger/besu/ethereum/mainnet/requests/MainnetRequestsValidatorTest.java
  ethereum/evmtool/src/test/resources/org/hyperledger/besu/evmtool/block-test/osaka-eof-rjump.json
Labels: Prague

#8203 Fix code delegation issue found in pectra devnet
  acceptance-tests/dsl/src/main/java/org/hyperledger/besu/tests/acceptance/dsl/node/configuration/BesuNodeFactory.java
  acceptance-tests/dsl/src/main/java/org/hyperledger/besu/tests/acceptance/dsl/transaction/eth/EthGetCodeTransaction.java
  acceptance-tests/dsl/src/main/java/org/hyperledger/besu/tests/acceptance/dsl/transaction/eth/EthTransactions.java
  acceptance-tests/tests/src/test/java/org/hyperledger/besu/tests/acceptance/ethereum/CodeDelegationTransactionAcceptanceTest.java
  acceptance-tests/tests/src/test/resources/dev/dev_prague.json
  ethereum/core/src/main/java/org/hyperledger/besu/ethereum/core/CodeDelegation.java
  ethereum/core/src/main/java/org/hyperledger/besu/ethereum/mainnet/AbstractBlockProcessor.java
  ethereum/core/src/main/java/org/hyperledger/besu/ethereum/mainnet/CodeDelegationProcessor.java
  ethereum/core/src/main/java/org/hyperledger/besu/ethereum/mainnet/CodeDelegationResult.java
  ethereum/core/src/main/java/org/hyperledger/besu/ethereum/trie/diffbased/common/worldview/accumulator/DiffBasedWorldStateUpdateAccumulator.java
  ethereum/core/src/test/java/org/hyperledger/besu/ethereum/mainnet/CodeDelegationProcessorTest.java
  evm/src/main/java/org/hyperledger/besu/evm/worldstate/CodeDelegationService.java
Labels: Prague

#8211 Prague Devnet5 - EIP2935 - Fix edge case when the contract is deployed after the fork
  ethereum/core/src/main/java/org/hyperledger/besu/ethereum/mainnet/blockhash/PragueBlockHashProcessor.java
  ethereum/core/src/test/java/org/hyperledger/besu/ethereum/mainnet/blockhash/BlockHashProcessorTest.java
Labels: Prague

#8209 devnet-6 system contract addresses update
  CHANGELOG.md
  ethereum/api/src/test/resources/org/hyperledger/besu/ethereum/api/jsonrpc/debug/trace-call/debug_traceCall_noGasPrice.json
  ethereum/core/src/main/java/org/hyperledger/besu/ethereum/mainnet/blockhash/PragueBlockHashProcessor.java
  ethereum/core/src/main/java/org/hyperledger/besu/ethereum/mainnet/requests/RequestContractAddresses.java
  ethereum/core/src/test/resources/org/hyperledger/besu/ethereum/chain/genesis_prague2.json
  ethereum/evmtool/src/test/resources/org/hyperledger/besu/evmtool/block-test/osaka-eof-rjump.json
  ethereum/evmtool/src/test/resources/org/hyperledger/besu/evmtool/t8n/prague-deposit.json
  ethereum/evmtool/src/test/resources/org/hyperledger/besu/evmtool/t8n/prague-withdrawal-request.json
Labels: Prague

#8162 clean verkle code and update besu-verkle-trie library
  ethereum/core/src/main/java/org/hyperledger/besu/ethereum/trie/diffbased/verkle/LeafBuilder.java
  ethereum/core/src/main/java/org/hyperledger/besu/ethereum/trie/diffbased/verkle/cache/preloader/StemPreloader.java
  ethereum/core/src/main/java/org/hyperledger/besu/ethereum/trie/diffbased/verkle/storage/flat/VerkleStemFlatDbStrategy.java
  ethereum/core/src/main/java/org/hyperledger/besu/ethereum/trie/diffbased/verkle/worldview/VerkleWorldState.java
  ethereum/core/src/test/java/org/hyperledger/besu/ethereum/trie/diffbased/verkle/storage/flat/VerkleStemFlatDbStrategyTest.java
  evm/src/main/java/org/hyperledger/besu/evm/gascalculator/stateless/Eip4762AccessWitness.java
  platform/build.gradle
Labels: verkle
